<h1><%= @recipe.name() %></h1>

<div class="row">
  <div class="col-sm-6">
    <h3>Add Ingredients</h3>
    <% if @recipe.ingredients().any?() %>
    <% @recipe.ingredients().each() do |ingredient| %>
    <h5><%= ingredient.name() %></h5>
    <% end %>
    <% end %>

    <form action="/recipes/<%= @recipe.id() %>/ingredients" method="post">
      <label for="name"></label>
      <select class="form-control " name="name">
        <option value=""></option>
        <% @ingredients.each() do |ingredient|%>
          <% if !@recipe.ingredients.include?(ingredient) %>

            <option value="<%= ingredient.name() %>"><%= ingredient.name() %></option>
          <% end  %>
        <% end  %>
      </select>


      <!-- <input type="text" name="name" placeholder="Ingredient Name"> -->

      <button class="btn btn-primary" type="submit">Add ingredient</button>
    </form>
  </div>
  <div class="col-sm-6">
    <h3>Tag This Recipe</h3>
    <form class="" action="/recipes/<%= @recipe.id() %>/tags" method="post">
      <input type="hidden" name="_method" value="patch">
      <% if @tags.any?() %>
      <% @tags.each do |tag| %><br>

      <input type="checkbox" name="tag_ids[]" value="<%=tag.id%>" id="<%=tag.id%>" <%= @recipe.tags.include?(Tag.find(tag.id().to_i()))?"checked":"" %>> <%= tag.name() %> </input>
      <% end %>
      <% end %> <br>
      <button class="btn btn-primary" type="submit">Update Tags!</button>
    </form>

  </div>
</div>

<div class="bottom">
  <form action="/recipes/<%= @recipe.id() %>/ingredients" method="post">
    <input type="hidden" name="_method" value="delete">

    <button class="btn btn-danger" type="submit">Delete Recipe</button>
    <a class="btn btn-primary" href="/recipes/new">Back</a>
    <a class="btn btn-default" href="/">Home</a>
  </form>
</div>
