<h1><%= @recipe.name() %></h1>

<h3>Add Ingredients</h3>
<% if @recipe.ingredients().any?() %>
  <% @recipe.ingredients().each do |ingredient| %>
    <h5><a href="/recipes/<%= @recipe.id() %>/ingredients/<%= ingredient.id() %>"><%= ingredient.name() %></a></h5>
  <% end %>
<% end %>

<form action="/recipes/<%= @recipe.id() %>/ingredients" method="post">
  <label for="name"></label>
  <input type="text" name="name">

  <button class="btn btn-default" type="submit">Add ingredient</button>
</form>

<form action="/recipes/<%= @recipe.id() %>/ingredients" method="post">
  <input type="hidden" name="_method" value="delete">

  <button class="btn btn-default" type="submit">Delete Recipe</button>
  <a class="btn btn-default" href="/recipes/new">Back</a>
</form>
