<h1><%= @ingredient.name() %></h1>

<form action="/ingredients/<%= @ingredient.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="recipe_id" value="<%= @recipe.id() %>">
  <label for="name"></label>
  <input type="text" name="name">

  <button class="btn btn-default" type="submit">Edit ingredient</button>
</form>

<form action="/ingredients/<%= @ingredient.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="recipe_id" value="<%= @recipe.id() %>">

  <button class="btn btn-default" type="submit">Delete Ingredient</button>
  <a class="btn btn-default" href="/ingredients">Back</a>
</form>
